# Intoduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the sklearn library.

What we're going to cover:

0. An end-to-end Scikit-Learn worfklow
1. Getting the data ready
2. Choosing the right maching learning estimator/aglorithm/model for your problem
3. Fitting your chosen machine learning model to data and using it to make a prediction
4. Evaluting a machine learning model
5. Improving predictions through experimentation (hyperparameter tuning)
6. Saving and loading a pretrained model
7. Putting it all together in a pipeline

## 0. An end-to-end Scikit-Learn workflow

In [1]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
import numpy as np

In [2]:
# Create X (features matrix). Every column except "target" column which we are trying to predict
x = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [8]:
# 2. Choose the right model and hyperparameters
# Our problem is classification, trying to predict whether patient has heart disease or not
# Random Forest is a model used for classification problems
# clf is short for classification
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# Keep the default hyperparameters. See what default params are
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [9]:
# 3. Fit the model to the training data. Split the data into training data and test data
# test_size=0.2 means 20% of data will be used for testing, 80% for training
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [11]:
# Tells Random Forest model to find patterns in training data
# Fits the model to the training data
clf.fit(x_train, y_train);

In [13]:
# Show training data
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2
100,42,1,3,148,244,0,0,178,0,0.8,2,2,2
172,58,1,1,120,284,0,0,160,0,1.8,1,0,2
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3
140,51,0,2,120,295,0,0,157,0,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
173,58,1,2,132,224,0,0,173,0,3.2,2,2,3
171,48,1,1,110,229,0,1,168,0,1.0,0,0,3
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3

In [15]:
# Show test data
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2
189,41,1,0,110,172,0,0,158,0,0.0,2,0,3
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,51,1,0,140,298,0,1,122,1,4.2,1,3,3
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
33,54,1,2,125,273,0,0,152,0,0.5,0,1,2
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2
123,54,0,2,108,267,0,0,167,0,0.0,2,0,2

In [16]:
# As the model has been trained. Make predictions in the test data
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1])

In [17]:
y_test

88     1
93     1
189    0
8      1
137    1
      ..
250    0
188    0
33     1
153    1
123    1
Name: target, Length: 61, dtype: int64

In [18]:
# 4. Evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [19]:
clf.score(x_test, y_test)

0.819672131147541

In [20]:
# Evaluating the model with different metrics
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Print classification report that compares test labels ie. "target" to prediction labels
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.77      0.80      0.78        25
           1       0.86      0.83      0.85        36

    accuracy                           0.82        61
   macro avg       0.81      0.82      0.81        61
weighted avg       0.82      0.82      0.82        61

In [21]:
confusion_matrix(y_test, y_preds)

array([[20,  5],
       [ 6, 30]])

In [22]:
accuracy_score(y_test, y_preds)

0.819672131147541

In [30]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 75.41%

Trying model with 20 estimators...
Model accuracy on test set: 77.05%

Trying model with 30 estimators...
Model accuracy on test set: 80.33%

Trying model with 40 estimators...
Model accuracy on test set: 78.69%

Trying model with 50 estimators...
Model accuracy on test set: 80.33%

Trying model with 60 estimators...
Model accuracy on test set: 81.97%

Trying model with 70 estimators...
Model accuracy on test set: 78.69%

Trying model with 80 estimators...
Model accuracy on test set: 85.25%

Trying model with 90 estimators...
Model accuracy on test set: 85.25%

In [31]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [34]:
# Import model
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8524590163934426